.headerContainer {
    padding: 30px;
    background-color: aquamarine;
  }
  
  .itemNav {
    Padding: 30px;
    font-weight: bold;
    color: #4293e4;    
  }
  .itemNav.router-link-exact-active {
    color: var(--blue);
    background-color: var(--red);
  }
  
  .itemNav:hover {
    background-color: rgb(96, 96, 248);
    color: rgb(241, 241, 241);
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

  .logo {
    max-width: 10%;
    max-height: 10%;
    width: 20%;
    height: 20%;
    padding:20px;
  }